.menu-item-custom {
  display: block; 
  padding: 0.75rem;
  margin: 0px 3px 0px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item-custom:hover {  
  background-color: #171717;
  color: #FF257B;
}

.menu-item-active {  
  background-color: #171717;
  color: #FF257B;
}

.menu-title-custom {
  display: flex;
  align-items: center;
  color: #D5D7E4;
  font-family: YuKyokasho Yoko Bold;
  font-size: 1.15rem;
  font-weight: bold;
}

.menu-title-custom:link {
  text-decoration: none;
}