.apy {
  padding: 2.626rem;
}
.apy-lable {
  font-size: 1.75rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 40px;
}
.apy-data {
  font-size: 2.25rem;
  font-family: Montserrat-SemiBold, Montserrat;
  font-weight: 600;
  color: #000000;
  line-height: 44px;
}