.prompt-info-card {
  .title {
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    font-size: 2.2rem;
    color:#FFFFFF;
    line-height: 21px;
  };
  .text {
    padding-top: 1rem;
    font-family: Montserrat-Bold, Montserrat;
    font-size: 1.4rem;

    font-weight: 400;
    color: #BCBCBC;
    line-height: 30px;
  }
}