.token-radio-button {
  
  input[type="radio"] {
    opacity: 0; /* hidden but still tabable */
    position: absolute;
  }

  input[type="radio"] + div {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    cursor: pointer;
  }

  input[type="radio"]:checked + div  {
    background-color: #202020;
    border-radius: 8px;
    border: 1px solid #FF257B;
  }

  .radio-button-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}