.data-lable-data {
  font-size: 2.25rem;
  font-family: Montserrat-SemiBold, Montserrat;
  font-weight: 600;
  color: #333333;
}

.data-lable-title {
  font-size: 1.125rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
}