.overview-data {
  .overview-data-icon {
    background: #232126;
    border-radius: 12px;
  }

  .overview-data-title {
    font-size: 1.14rem;
    font-family: Arial-BoldMT, Arial;
    font-weight: normal;
    color: #C6C9DD;
    line-height: 18px;
  }

  .overview-data-value {
    font-size: 1.71rem;
    font-family: Montserrat-SemiBold, Montserrat;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 29px;
  }
}