.transaction-list {
  .transaction-list-lable-title {
    
    font-size: 1rem;
    font-family: Arial-BoldMT, Arial;
    font-weight: normal;
    color: #C6C9DD;
    line-height: 16px;
  }

  .transaction-list-lable-data {

    font-size: 1.29rem;
    font-family: Montserrat-SemiBold, Montserrat;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 18px;
  }

  .transaction-list-config {
    height: 94px;
    width: 155px;
    background: rgba(42, 42, 42, 0.79);
    border-radius: 8px;
    width: 49px;

    .config-text {
      font-size: 0.86rem;
      font-family: ArialMT;
      color: #BCBCBC;
      line-height: 14px;
    }
    
    
  }

  
  
}

.transaction-list-empty {
  height: 100px;
  border-radius: 24px;
  border: 1px dotted #979797;
  color: #FFC73A;
}

.transaction-assets-list-empty {
  width: 50%;
  height: 18.6rem;
  border-radius: 24px;
  border: 1px dotted #979797;
  color: #FFC73A;
}

.transaction-action-link {

  font-size: 1rem;
  font-family: ArialMT;
  color: #FFFFFF;
  line-height: 16px;
  border-bottom: 1px solid #FFFFFF;
}